@page
@model ChillLancer_RazorPage.Pages.AuthenticationModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/auth-form.css">
    <title>Modern Login Page | AsmrProg</title>
</head>

<body>
    <div class="global-style main-body">
        <div class="global-style main-container" id="container">
            @* Register Form*@
            <div class="global-style form-container sign-up">
                <form class="global-style">
                    <h1 class="global-style">Create Account</h1>
                    <div class="global-style social-icons">
                        <a href="#" class="global-style icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="global-style icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="global-style icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="global-style icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <span class="global-style">or use your email for registeration</span>
                    <input class="global-style" type="text" placeholder="Full Name">
                    <input class="global-style" type="email" placeholder="Email">
                    <input class="global-style" type="password" placeholder="Password">
                    <button class="global-style btn-primary-color">Sign Up</button>
                </form>
            </div>

            @* Login Form *@
            <div class="global-style form-container sign-in">
                <form class="global-style" method="post">
                    <h1 class="global-style">Sign In</h1>
                    <div class="global-style social-icons">
                        <a href="#" class="global-style  icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="global-style  icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="global-style  icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="global-style  icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <span class="global-style">or use your email password</span>
                    <input class="global-style" type="email" asp-for="AuthRequest.Email" placeholder="Email">
                    <input class="global-style" type="password" asp-for="AuthRequest.Password" placeholder="Password">
                    <a class="global-style" href="#">Forget Your Password?</a>
                    <button class="global-style btn-primary-color" type="submit">Login</button>
                </form>
            </div>

            @* Tab Slide  Animation *@
            <div class="global-style toggle-container">
                <div class="global-style toggle">
                    <div class="global-style toggle-panel toggle-left">
                        <h1 class="global-style" style="color:#ffffff">Welcome Back!</h1>
                        <p class="global-style">Enter your personal details to use all of site features</p>
                        <button class="global-style hidden" id="login">Sign In</button>
                    </div>
                    <div class="global-style toggle-panel toggle-right">
                        <h1 class="global-style" style="color:#ffffff">Hello, Friend!</h1>
                        <p class="global-style">Register with your personal details to use all of site features</p>
                        <button class="global-style hidden" id="register">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/auth-form.js"></script>
</body>

</html>
