@page
@model ChillLancer_RazorPage.Pages.StarterModel
@{
}
<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <nav class="breadcrumbs">
                <ol>
                    <li><a asp-page="/Index">Home</a></li>
                    <li class="current">Starter Page</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Tilte</h2>
            <p>Contents<br></p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up">
            <p>Use this page as a starter for your own custom pages.</p>
        </div>

    </section><!-- /Starter Section Section -->

</main>
