@page
@model ChillLancer_RazorPage.Pages.Payment.PaymentFailModel
@{
    ViewData["Title"] = "Payment failed";
    Layout = "_Layout";
}

<h2>Payment failed</h2>

<div class="alert alert-danger">
    Payment is failed.
</div>

<div>
    <a asp-page="/Index" class="btn btn-secondary">back </a>
</div>