@page
@model ChillLancer_RazorPage.Pages.Payment.PaymentSuccessModel
@{
    ViewData["Title"] = "Thanh toán thành công";
    Layout = "_Layout";
}

<h2>Payment Success</h2>

<div class="alert alert-success">
    Payment successfully!
</div>

<div>
    <a asp-page="/Index" class="btn btn-secondary">back </a>
</div>